<section class="blog-masonry bg-muted">
      
        <div class="container">
          <div class="row">
            <div class="col-sm-12 text-center">
              
            </div>
          </div><!--end of row-->
        </div><!--end of container-->
        
        <div class="container">
          <div class="row">
            <div class="col-md-9">
              <div class="blog-container">
          
              {{#foreach posts}}
              <div class="blog-snippet-3">
                      <h1><a href="{{url}}">{{title}}</a></h1>
                      <p class="lead">
                        {{excerpt words="100"}} ...
                      </p>
                      {{#if tags}}
                      {{tags separator=", " prefix='<i class="icon icon_tags"></i> Tags: '}}<br>
                      {{/if}}
                      <i class="icon icon_calendar"></i><span class="alt-font">Published on {{date format="DD MMMM YYYY"}}</span><br>
                      <i class="icon icon_pencil-edit"></i><span class="alt-font">Written By - {{author}}</span>
              </div>
            {{/foreach}}
          
              </div><!--end of blog masonry container-->
              
            </div>
            
            <div class="col-sm-3">
              <div class="blog-sidebar">
                {{> sidebar/subscribe }}
                {{> sidebar/recent }}
                {{> sidebar/twitter }}
                {{> sidebar/facebook }}
              </div>
            </div>
          </div><!--end of row-->
        </div><!--end of container-->
      
    
        
      </section>
{{#if pagination.prev}}
  {{pagination}}
{{else}}
{{#if pagination.next}}
  {{pagination}}
{{/if}}
{{/if}}