{{!< default}}
<header class="fullscreen-element no-pad centered-text hidden-xs">
  <div class="background-image-holder parallax-background overlay">
  {{#if @blog.cover}}
    <img class="background-image" alt="Background Image" src="{{@blog.cover}}">
  {{else}}
    <img class="background-image" alt="Background Image" src="{{asset 'img/blog.jpg'}}">
  {{/if}}
  </div>

  {{#latestFeature posts}}
  <div class="container align-vertical">
    <div class="row">
      <div class="col-md-7 col-sm-8">
        <span class="text-white alt-font">{{date format="DD MMMM YYYY"}}</span>
        <h1 class="text-white">{{title}}</h1>
        <p class="lead text-white">{{excerpt words="35"}} ...</p>
        <a href="{{url}}" class="btn btn-primary btn-white">Read More</a>
      </div>
    </div>
  </div>
  {{/latestFeature}}

  
  <div class="bottom-band">
    <div class="container">
      <div class="row">
      {{#moreFeature posts}}
        {{#foreach this}}
        <div class="col-sm-4">
          <span class="sub alt-font text-white">{{date format="DD MMMM YYYY"}}</span>
          <h3 class="text-white">{{title}}</h3>
          <a href="{{url}}" class="link-text text-white">Read More</a>
        </div>
        {{/foreach}}
      {{/moreFeature}}
      </div>
    </div>
  </div>

</header>
{{> "loop"}}

{{#contentFor "meta"}}

  <!-- Open Graph Meta Tags -->
  <meta property="og:type" content="website"/>
  <meta property="og:title" content="Appknox - Blog"/>
  <meta property="og:description" content="Mobile app vulnerability detection and remediation"/>
  <meta property="og:site_name" content="Appknox - Blog"/>
  <meta property="og:url" content="https://blog.appknox.com/"/>
  <meta property="og:image" content="https://blog.appknox.com/assets/img/logo-dark.png"/>
  <meta property="fb:admins" content="218311445046607"/>

  <!-- Twitter Card Meta Tags -->
  <meta name="twitter:card" content="summary"/>
  <meta name="twitter:title" content="Appknox - Blog"/>
  <meta name="twitter:description" content="Mobile app vulnerability detection and remediation"/>
  <meta name="twitter:image" content="https://blog.appknox.com/assets/img/logo-dark.png"/>
  <meta name="twitter:site" content="@appknox"/>
  <meta name="twitter:creator" content="@appknox"/>
{{/contentFor}}